# Ignore local dependencies
node_modules/

# Ignore build outputs
android/app/build/
ios/build/

# Ignore dev-only stuff
.git/
*.log
.env.local
.env.development
.vscode/
*.DS_Store

# Ignore test files
__tests__/
coverage/
